/*--- RESET/NORMALIZE ---*/
body, h1, h2, h3, h4, h5, h6, figure, pre, dl, dd, blockquote, input[type="radio"], input[type="checkbox"] {margin:0}
legend {padding:0}
fieldset, ul, ol {padding:0;margin:0}
ul, ol {list-style:none}
body {line-height:1}
main, figure, figcaption, img {display:block} /*--- <main> for IE 11 ---*/
img {max-width:100%;height:auto}
a {text-decoration:none}
fieldset {border:0}
input, textarea, select{display:block;max-width:100%;font-family:inherit;font-size:inherit;color:inherit}
label {display:table}
input[type="text"], input[type="email"], input[type="password"], input[type="search"] /*--- for Safari (add/remove types as needed) ---*/
html {text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:1.25em} /*--- optional base font size ---*/

body{
    width: 100%;
    font-family: 'League Spartan', sans-serif;
    color: #272727;
}
/*HEADER*/

header{
    background: #F8F8F8;
}
.header_conteiner{
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

.header_text{
    font-size: 24px;
    margin-top: 104px;}

h1{
    font-weight: 300;
    margin-top: 53px;
    font-size: 250px;
}   
.about_text{
    max-width: 575px;
    font-size: 32px;
    line-height: 155%;
}
:hover.button {
    background: white;
    color: black;
    transition: 0.3s;
}
button{
    padding: 0;
    line-height: 82px;
    display: flex;
    font-size: 32px;
    border: none;
    justify-content: left;
    height: 82px;
    margin-bottom: 100px;
}
.button {
    height: 100%;
    width: 278px;
    background: #000;
    color: white;
}
.price {
    height: 100%;
    width: 143px;
    justify-content: right;
}
.img_header{
    max-width: 80%;
    object-fit: contain;}

/*MAIN*/
img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;

}

.main_conteiner{
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    max-width: 532px;
    justify-content: space-between;
}
.main_p{
    margin-top: 50px;
    font-size: 24px;}
.card_p{
    font-size: 24px;
}
.main_h2{
    font-size: 72px;
    margin-bottom: 84px;
}
.main_h3{
    margin-top: 67px;
    font-size: 32px;
}
.card{
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}
/*   FOOTER   */
.footer_conteiner {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 532px;
    justify-content: space-between;
}
.footer_h3 {
    font-size: 32px;
    margin-bottom: 10px;
}
.footer_content {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 178.03px;
    height: 0px;
    border: 1px solid #707070;
}

.footer_p {
    margin-top: 50px;
    font-size: 24px;
    margin-bottom: 50px;
}

/*  ADAPTIV  */

/* DESKTOP */
@media (min-width: 1024px) {
 
}
/* TABLET */
@media (min-width: 425px) and (max-width: 1024px){
    h1{
        font-size: 150px;
    }
   
    .header_conteiner{
        display: block;
        margin: 0 auto;
        justify-content: space-between;
        text-align: center;
    }
    .header_text{
        margin-top: 15px;
    }
    .about, .about_text, button{
        margin: 0 auto;
        text-align: center;
    }
    .footer_conteiner {
        padding: 0 10px;
    }
    .button {
        width: 200px;
    }
    .img_header{
        max-width: 70%;
        margin-top: 20px;}    
}
/* MOBILE */
@media (max-width: 425px) {
    h1{
        margin-top: 25px;
        font-size: 100px;
    }
   
    .header_conteiner{
        display: block;
        margin: 0 auto;
        justify-content: space-between;
        text-align: center;
    }
    .header_text{
        margin-top: 10px;
    }
    .about, .about_text, button{
        margin: 0 auto;
        text-align: center;
    }
    .footer_conteiner {
        padding: 0 10px;
    }
    button{
        margin-top: 10px;
    }
    .button {
        width: 150px;
        font-size: 16px;
    }
    .price{
        width: 60px;
        font-size: 16px;
        height:60px;
    }
    .img_header{
        max-width: 80%;
        margin-top: 10px;}  
    .card_p, .main_h3, .footer_p, .header_text, .about_text{
        font-size: 16px;
    }
  }



